SERVER_IMAGE={{ SERVER_IMAGE }}
WEB_IMAGE={{ WEB_IMAGE }}
DASHBOARD_DOMAIN={{ DASHBOARD_DOMAIN }}
CRAWLER_GRPC_ADDR={{ CRAWLER_GRPC_ADDR }}
POSTGRES_USER={{ POSTGRES_USER }}
POSTGRES_PASSWORD={{ POSTGRES_PASSWORD }}
POSTGRES_DB={{ POSTGRES_DB }}
MINIO_ROOT_USER={{ MINIO_ROOT_USER }}
MINIO_ROOT_PASSWORD={{ MINIO_ROOT_PASSWORD }}
CRAWLER_TOKEN={{ CRAWLER_TOKEN }}
BOOTSTRAP_ADMIN_USERNAME={{ BOOTSTRAP_ADMIN_USERNAME }}
BOOTSTRAP_ADMIN_PASSWORD={{ BOOTSTRAP_ADMIN_PASSWORD }}
